header{
    /* height: 100vh; */
    padding: 7rem;

    background: linear-gradient(var(--color-bg-variant), transparent);
    overflow: hidden;
}
.header_continer{
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.heading_handler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =================== CV ================== */
.CV{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header_social::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-prinary);
}

/* =================== ME ================== */

.me {
    background: linear-gradient(var(--color-prinary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    /* left: calc(50% - 11rem); */
    left : 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 0 0 0 0;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}
.me img{
    width: 38rem; 
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    left : 50%;
    right: 50%;
    transform: translateX(-50%); 

}

/* =================== Scroll Down ================== */
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ==================== Media Queries(Medium Sized Devices) ==================== */
@media screen and (max-width: 1024px) {
    header{
        height: 40vh;
    }
}


/* ==================== Media Queries(Small Sized Devices) ==================== */
@media screen and (max-width: 600px) {
    header{
        height: 65vh;
    }
    

    .header_social, .scroll_down{
        display: none;
    }
}















